@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 980px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    height: 72px;
    width: 100%;
    /* box-shadow: 0 0 10px #dddddd; */
    background-color: white;
    box-shadow: 0 0 10px #dddddd;
    position: fixed;
    top: 0;
}

.header-left {
    float: left;
    display: flex;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
    height: 72px;
}

.clear {
    clear: both;
}

.header-logo {
    width: 52px;
    height: 52px;
    margin: 10px 0;
}

.header-title {
    font-size: 32px;
    color: #5a5c5f;
    margin: 10px 0;
    padding: 0 5px;
}

/* チェックボックスを非表示にする */
#menu-btn-check {
    display: none;
}

.header-right a {
    color: #5a5c5f;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px 15px 5px;
    text-decoration: none;
}

.line-header-img {
    height: 36px;
}

.header-text a:hover {
    background-color: #e2f1ff;
    transition: background-color 0.5s;
}

/* .footer {
    width: 100%;
    background-color: #2f3a44;
    color: #e8e8e8;
    text-align: center;
    padding: 30px 0;
    絶対位置
    position: absolute;
    下に固定
    bottom: 0;
} */