@charset "utf-8";

@media screen and (max-width: 720px) {

    .main-title {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }

    .individual {
        margin: 20px 0;
    }

    td {
        font-size: 16px;
    }

    .explanation {
        margin-top: 30px;
    }

    .explanation p {
        font-size: 16px;
    }
}